.card-wrapper {
  background: linear-gradient(
    0deg,
    rgba(41, 40, 40, 0.9) 25%,
    rgba(13, 10, 10, 0.05) 90%,
    rgba(0, 0, 0, 0.05) 95%
  );
}

.row-poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  object-fit: contain;
}

.row-poster::-webkit-scrollbar {
  display: none;
}
